<!DOCTYPE html>

<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    <div id="top">
      {{> simpleGreeting src=coverImageSrc}} {{> stickyheader}}

      <div class="content-wrapper">
        <div class="content content--wide">
          <main>{{#markdown}} {{{../content}}} {{/markdown}}</main>
          <br />
          <hr />
          <br />
          <footer id="blogpost-links-container">
            {{#unless isFirst}}
            <a id="blogpost-links-container__left" href="{{slug}}/previousPost">Previous post</a>
            {{else}}
            <a id="blogpost-links-container__left"></a>
            {{/unless}}
            <p>{{currentPostId}} / {{amountOfPosts}}</p>
            {{#unless isLast}}
            <a id="blogpost-links-container__right" class="align-right" href="{{slug}}/nextPost">Next post</a>
            {{else}}
            <a id="blogpost-links-container__right"></a>
            {{/unless}}
          </footer>
        </div>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
