<style>
  html {
    visibility: hidden;
    opacity: 0;
  }
</style>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Kaappo Raivio</title>
<meta name="description" content="Here you can find my portfolio, cv and other stuff!" />
<meta name="author" content="SitePoint" />

<meta property="og:title" content="Kaappo Raivio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:description" content="Kaappo Raivio" />
<meta property="og:image" content="image.png" />

<link rel="apple-touch-icon" sizes="180x180" href="/public/res/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/public/res/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/public/res/favicon/favicon-16x16.png" />
<link rel="manifest" href="/public/res/favicon/site.webmanifest" />

<link rel="stylesheet" href="/public/css/index.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<!--<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" /></noscript>-->

<link rel="stylesheet" href="/public/css/fonts.css" />
<!--<noscript><link rel="stylesheet" href="/public/css/fonts.css" /></noscript>-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css" />

{{#if ALL.debug}}
<!--<script src="https://livejs.com/live.js" async></script>-->
{{/if}}
