<!doctype html>

<html lang="en">

{{> head}}

<body>
<div id="top" class="parallax">
    {{> simpleGreeting}}

    {{> stickyheader}}

    <div class="content-wrapper">
        <main class="content">
            <h2 id="CV">CV</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi
                delectus, dolorem enim illum in iure magni modi nostrum provident, rem ut velit veniam.
                Cumque modi mollitia non odio possimus.
            </p>
            <p>Eaque iure laudantium magnam magni necessitatibus neque nobis quia quis unde!
                Asperiores cum distinctio fugit id quae? Aliquam culpa, enim est exercitationem id iure,
                magnam quod similique sit sunt ut.
            </p>
            <p>Error, quas, vitae. Accusamus adipisci aperiam architecto blanditiis cupiditate debitis
                delectus, deserunt eligendi enim et exercitationem hic maxime mollitia optio perferendis
                quas quisquam quod sunt temporibus totam veritatis vero voluptatibus!
            </p>
            <p>Alias animi, commodi consequuntur, cupiditate dolorem doloremque dolores ducimus eos
                esse est et ex facere ipsa ipsam odit pariatur porro quam quibusdam, quis quod
                recusandae sequi suscipit ullam voluptate voluptatibus!
            </p>
            <p>Ab accusantium aut commodi, consequuntur dolores eos error esse illum ipsam itaque
                labore neque officia quasi quis quos rem soluta sunt tenetur, voluptatem voluptatibus!
                Alias ea magnam maiores perspiciatis repellat.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi
                delectus, dolorem enim illum in iure magni modi nostrum provident, rem ut velit veniam.
                Cumque modi mollitia non odio possimus.
            </p>
            <p>Eaque iure laudantium magnam magni necessitatibus neque nobis quia quis unde!
                Asperiores cum distinctio fugit id quae? Aliquam culpa, enim est exercitationem id iure,
                magnam quod similique sit sunt ut.
            </p>
            <p>Error, quas, vitae. Accusamus adipisci aperiam architecto blanditiis cupiditate debitis
                delectus, deserunt eligendi enim et exercitationem hic maxime mollitia optio perferendis
                quas quisquam quod sunt temporibus totam veritatis vero voluptatibus!
            </p>
            <p>Alias animi, commodi consequuntur, cupiditate dolorem doloremque dolores ducimus eos
                esse est et ex facere ipsa ipsam odit pariatur porro quam quibusdam, quis quod
                recusandae sequi suscipit ullam voluptate voluptatibus!
            </p>
            <p>Ab accusantium aut commodi, consequuntur dolores eos error esse illum ipsam itaque
                labore neque officia quasi quis quos rem soluta sunt tenetur, voluptatem voluptatibus!
                Alias ea magnam maiores perspiciatis repellat.
            </p>
        </main>
    </div>
</div>
</body>

</html>
