#greeting-image {
    /*background-image: url("/public/res/DSC_137_background.webp");*/
    /*background-size: cover;*/
    /*background-position: center bottom;*/

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
}
