<!DOCTYPE html>

<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    <div id="top">
      {{> simpleGreeting}} {{> stickyheader}}

      <div class="content-wrapper">
        <main class="content content--wide">
          <h2 id="CV">CV</h2>
          <div class="columns">
            <div class="columns__column">
              <h3>Experience</h3>
              <ol class="no-bullets">
                {{#each (reverseArray cv.experience)}} {{> cvListItem}} {{/each}}
              </ol>
            </div>
            <div class="columns__column">
              <h3>Education</h3>
              <ol class="no-bullets">
                {{#each (reverseArray cv.education)}} {{> cvListItem}} {{/each}}
              </ol>
              <h3>Volunteer work</h3>
              <ol class="no-bullets">
                {{#each (reverseArray cv.volunteerWork)}} {{> cvListItem}} {{/each}}
              </ol>
              <h3 id="Skills">Skills</h3>
              <ol class="no-bullets cv-list--flex">
                {{#each cv.skills}} {{#each this.content}}
                <li class="cv-list-item cv-list-item--flex" style="color: {{../this.color}};">
                  <span class="cv-list-item__wrapper">{{{this}}}</span>
                </li>
                {{/each}} {{/each}}
              </ol>
            </div>
          </div>
        </main>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
