:root {
  --primary-color: black;
  --secondary-color: #595959;
  --tertiary-color: #c0c0c0;
  --quartic-color: #f1f1f1;
  --landing-accent: white;
  --background-color: white;
}

body {
  margin: 0;
  height: 100vh;
}

html {
  font-size: min(1vh, 1vw);
  overflow: hidden;
  font-family: "Noto Sans", sans-serif !important;
}

hr {
  border: 1px solid grey;
}

img {
  width: 100%;
  height: auto;
}
p {
  text-align: justify;
  margin-top: 2%;
}
h2 {
  font-size: 250%;
  margin-bottom: 2%;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--secondary-color);
  border-left: 0.25em solid var(--tertiary-color);
}

dt {
  font-weight: bold;
}

code {
  background-color: rgba(175, 184, 193, 0.2);
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

pre code {
  background: transparent;
}

header {
  width: var(--content-width);
  position: relative;
  font-size: 200%;
  padding: 1% 2% 0;
  display: inline-block;
  margin-bottom: 0;
}

header nav {
  position: relative;
  /*display: grid;*/
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  margin-top: 2%;
}

header nav a {
  /*padding: 1%;*/
  text-align: center;
  border: 2px solid;
  flex: 1 0 0;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
}

a {
  font-weight: bold;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #ccc;
}
th,
td {
  text-align: left;
  padding: 4px;
}

ul.no-bullets,
ol.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li img:after {
  clear: both;
}

.accent {
  font-family: "Arvo", serif;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.columns {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.columns p {
  margin-top: 0;
}

.force-wrap {
  overflow-wrap: break-word;
}
