.variables {
    --content-width: 100%;
}

body {
    margin: 0;
    height: 100vh;

}

html {
    font-size: min(1vh, 1vw);
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

img {
    width: 100%;
    height: auto;
}
p {
    text-align: justify;
    margin-top: 2%;
}
h2 {
    font-size: 250%;
    margin-bottom: 2%;
}


.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}


.accent {
    font-family: "Arvo", serif;
}


.fix-scroll {
    /*scroll-margin-top: 155px;*/
}