.variables {
    --content-width: 100%;
}

body {
    margin: 0;
}

html {
    font-size: min(1vh, 1vw);
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.accent {
    font-family: "Arvo", serif;
    /*font-weight: bold;*/
    /*font-weight: 500;*/
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
}

.parallax-layer-back {
    transform: translateZ(-1px) scale(2);
}

.parallax-layer-deep {
    transform: translateZ(-4px) scale(5);
}

/*.parallax-group:nth-child(1) {*/
/*    margin-top: -200%;*/
/*}*/

.parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

/*.parallax-group:nth-child(2)::after{*/
/*    content : '';*/
/*    clear : both;*/
/*    display : block;*/
/*}*/

.fix-scroll {
    /*scroll-margin-top: 155px;*/
}