@import url("queries.css");
@import url("base.css");
@import url("fonts.css");


body {
    height: 100%;
}
img {
    width: 100%;
    height: auto;
    font-size: 120%;
    font-weight: bold;
}
p {
    text-align: justify;
    margin-top: 2%;
}
h2 {
    font-size: 250%;
    margin-bottom: 2%;
}

#decoration-text h1 {
    font-size: 1000%;
    margin: 0;
}

#decoration-text p {
    font-size: 500%;
    margin: 0;
}

#top {
    scroll-padding-top: 11.5%;
}


.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header-wrapper {
    top: 0;
    position: sticky;
    z-index: 1;
    background: white;
    scroll-margin-top: 10vh;
}

header {
    width: var(--content-width);
    position: relative;
    font-size: 200%;
    padding: 1% 2% 0;
    display: inline-block;
    margin-bottom: 0;
}

header nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    margin-top: 2%;
}

nav a {
    color: black;
    text-decoration: none;
}

a {
    font-weight: bold;
    text-decoration: none;
}

ul.add-horizontal-rule li:not(:last-child):after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;

    margin: 2% 0;
    background: gray;
}


.read-more {
    display: inline-block;
    width: 100%;
    text-align: right;

    font-size: 75%;
    font-weight: normal;
}

.read-more:after {
    content: "Continue reading»";
}

header nav a {
    padding: 1%;
    text-align: center;
    border: 2px solid black;
}

header img {
    height: 50%;
    object-fit: cover;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#simple-decoration-image-wrapper {
    height: 30vh;
}

#simple-decoration-image {
    background-image: url("/public/res/DSC_137_background.webp");
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    /*margin-top: -60%;*/
    /*bottom: 0;*/
    /*position: absolute;*/
}

#fancy-decoration-image {
    background-image: url("/public/res/DSC_137_background.webp");
    background-size: cover;
    background-position: center bottom;
}

#fancy-decoration-image #fancy-decoration-image-content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#decoration-text {
    color: white;
    display: flex;
    /*padding-left: 15%;*/
    align-items: center;
    background: #0000003f;
}

#content {
    font-size: 200%;
    padding: 0 2%;
    width: var(--content-width);
    /*height: 100vh;*/
    background: white;
    overflow: visible;
}

hr {
    border: 1px solid grey;
}
#content-wrapper {
    /*height: 100%;*/
    position: relative;
    display: flex;
    justify-content: center;
    background: white;
}

.portfolio-header {
    font-size: 200%;
    margin-bottom: 2%;
}


#bottom-header {
    position: absolute;
    /*width: 50%;*/
    /*background: #0000007f;*/
    /*font-size: 200%;*/
    bottom: 0;
}

#bottom-header nav {}

#bottom-header nav a {
    color: white !important;
    border: 1px solid white !important;
    background: #000000af;

}

/*.portfolio-header img {*/
.portfolio-logo {
    /*margin: 0;*/
    margin-right: 1%;
    margin-top: 2.5%;
    max-width: 10%;
    max-height: 10%;
    /*display: inline;*/
    float: left
}
li img:after {
    clear: both;
}

.portfolio-header h3 {
    /*font-size: 200%;*/
    /*bottom: 0;*/
    float: left;
    /*top: 0;*/
    /*left: 0;*/
    /*position: relative;*/
    margin: 0;
    /*padding-bottom: 5%;*/
    /*position: absolute;*/
}