@media screen and (max-width: 600px) {
  :root {
    --content-width: 100%;
    --columns: 1;
  }
  #greeting-text {
    justify-content: center;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --content-width: 80%;
    --columns: 1;
  }
  #greeting-text {
    padding-left: 10%;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --content-width: 70%;
    --columns: 1;
  }
  #greeting-text {
    padding-left: 15%;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .hide-on-single-column {
    display: none !important;
  }

  .unlimited-height-on-single-column {
    max-height: unset !important;
  }

  .content {
    /*position: relative;*/
    font-size: 400% !important;
    /*padding: 0 2%;*/
    /*width: var(--content-width);*/
    /*background: var(--background-color);*/
    /*overflow: visible;*/
  }
}

@media screen and (min-width: 992px) {
  :root {
    --content-width: 60%;
    --columns: 2;
  }

  .content--wide {
    width: calc(var(--content-width) * 1.5) !important;
  }

  #greeting-text {
    padding-left: 20%;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --content-width: 50%;
    --columns: 2;
  }

  .content--wide {
    width: calc(var(--content-width) * 1.5) !important;
  }

  #greeting-text {
    padding-left: 25%;
  }
}

@media screen and (max-width: 2499px) {
  :root {
    --greeting-image-src: url("/public/res/header_background.webp");
  }
}

@media screen and (min-width: 2500px) {
  :root {
    --greeting-image-src: url("/public/res/header_background_highres.webp");
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --landing-accent: white;
    --background-color: white;
  }
}
