.blogIndex-item--coverimage {
  /*aspect-ratio: calc(3 / 2);*/
  /*min-height: 10em;*/
  height: 15em;
  object-fit: cover;
}

.blogIndex-item--container {
  max-height: 15em;
}

.blogIndex-item--previewText {
  display: inline-block;
  max-height: 15em;

  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 75%;
}

#blogpost-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blogpost-links-container p {
  /*display: inline;*/
  margin: 0;
  text-align: center;
}

#blogpost-links-container__left {
  flex: 1 0;
}

#blogpost-links-container__right {
  flex: 1 0;
}
