.blogIndex-item--coverimage-wrapper {
  display: block;
  float: left;
  margin: 0 3% 1% 0;
}

.blogIndex-item--coverimage {
  /*aspect-ratio: calc(3 / 2);*/
  /*min-height: 10em;*/
  /*height: 15em;*/
  float: left;
  object-fit: cover;
  margin: 0 2% 2% 0;
}

.blogIndex-item--container {
  /*max-height: 15em;*/
}

.blogIndex-item--previewText {
  /*display: inline-block;*/
  /*max-height: 20em;*/
  /*line-clamp: 20;*/
  /*-webkit-box-orient: vertical;*/
  display: block;
  text-overflow: ellipsis;
  font-size: 75%;

  /*overflow: hidden;*/
}

#blogpost-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blogpost-links-container p {
  /*display: inline;*/
  margin: 0;
  text-align: center;
}

#blogpost-links-container__left {
  flex: 1 0;
}

#blogpost-links-container__right {
  flex: 1 0;
}

.blog-content p {
  font-size: 75%;
}
