.fas::before {
  margin-right: 5% !important;
}

#cv-content {
  font-size: 80%;
}

.cv-list-item {
  border: 2px solid;
  border-radius: 1vmin;
  position: relative;
  /*padding: 1vmin;*/
  margin: 2% 0;
  /*border: none;*/
}

.cv-list-item--primary {
  box-shadow: 1px 2px 5px gray;
}

.cv-list-item--secondary {
  /*color: var(--tertiary-color);*/
  filter: contrast(0);
  /*box-shadow: 1px 2px 5px gray;*/
  box-shadow: none;
  border: 1px solid #ffffff7f;
  /*border: none;*/
}

.cv-list-item--flex {
  /*display: inline-flex;*/
  flex-grow: 1;
  text-transform: capitalize;
  padding: 0.5% 1%;
  margin: 0 2% 2% 0;
}

.cv-list--flex {
  margin-right: -2% !important;
  margin-bottom: -2% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.cv-list--flex__item {
  flex: 1 0 0;
}

/*.cv-list--flex::after {*/
/*  content: "";*/
/*  flex-grow: 10000000;*/
/*}*/

.cv-list-item__wrapper {
  position: relative;
  margin: 1%;
}

.cv-list-item__title {
  margin: 0;
  flex: 1 1 10%;
}

.experience-item__schedule:not(:empty)::before {
  content: "| ";
}

.experience-item__schedule {
  color: var(--secondary-color);
  font-weight: lighter;
}

.cv-list-item__subtitle {
  margin-top: 0;
  /*font-weight: normal !important;*/
  /*text-decoration: none;*/
}

.cv-list-item__corner {
  color: var(--secondary-color);
  display: inline-block;
  margin-left: 2%;

  font-size: 75%;
}

.cv-list-item__wrapper__title__container {
  display: flex;
  align-items: flex-start;

  flex-direction: row;
}

.cv-list-item__content {
  margin: 1% 0;
  font-size: 75%;
}

.cv-list-item__content p {
  margin: 0;
}

.cv-list-item__content ul li {
  margin: 0;
}
