.fas::before {
    margin-right: 5% !important;
}

.cv-list-item {
    border: 2px solid;
    border-radius: 1vmin;
    position: relative;
    /*padding: 2%;*/
    margin: 2% 0;
}

.cv-list-item--flex {
    /*display: inline-flex;*/
    flex-grow: 1;
    text-transform: capitalize;
    padding: 0.5% 1%;
    margin: 0 2% 2% 0;
}

.cv-list--flex {
    margin-right: -2% !important;
    margin-bottom: -2% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.cv-list--flex::after {
    content: "";
    flex-grow: 10000000;
}

.cv-list-item__wrapper {
    position: relative;
    margin: 2%;
}

.cv-list-item__title {
    margin: 0;
}

.experience-item__schedule:not(:empty)::before {
    content: "| ";
}

.experience-item__schedule {
    color: var(--secondary-color);
    font-weight: lighter;
}

.cv-list-item__subtitle {
    margin-top: 0;
    /*font-weight: normal !important;*/
    /*text-decoration: none;*/
}

.cv-list-item__corner {
    color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: 0;

    font-size: 75%;
}

.cv-list-item__content {
    margin: 1% 0;
    font-size: 75%;
}

.cv-list-item__content p {
    margin: 0;
}

.cv-list-item__content ul li {
    margin: 0;
}
