.cv-list-item {
  border: 2px solid;
  position: relative;
  /*padding: 2%;*/
  margin: 2% 0;
}

.cv-list-item__wrapper {
  position: relative;
  margin: 2%;
}

.cv-list-item__title {
  margin: 0;
}

.experience-item__schedule {
  color: #a5a5a5;
  font-weight: lighter;
}

.cv-list-item__subtitle {
  margin: 0;
  /*font-weight: normal !important;*/
  /*text-decoration: none;*/
}

.cv-list-item__top-right-corner {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 75%;
}

.cv-list-item__content {
  margin: 1% 0;
  font-size: 75%;
}

.cv-list-item__content p {
  margin: 0;
}

.cv-list-item__content ul li {
  margin: 0;
}
