<div class="content-wrapper">
  <main class="content content--wide">
    <h2 id="KU01.5 Porfolio">KU01.5 Porfolio</h2>
    <ol class="no-bullets">
      <li>
        <h3>1. Visuaalinen matkalaukku</h3>
        <img src="/public/res/kuvis/matkalaukku.webp" alt="Kuva visuaalisesta matkalaukusta" />
      </li>
      <li>
        <h3>2. Paperiveistos (korvaava työ)</h3>
        <img src="/public/res/kuvis/kuvasarja.webp" alt="Abstrakti kuvasarja" style="transform: scale(1.0325)" />
        <p>
          Kuten sovittiin silloin taannoin (kiitos myönnytyksestä!), tässä korvaava työ paperiveistoksesta. Jos oikein muistan, puhe oli kolmen
          abstraktin kuvan sarjasta, josta käy ilmi kohteena olevan henkilön piirteitä ja persoonaa.
        </p>
        <p>
          Päätin koostaa kuvasarjan visuaalisesti mielenkiintoiseen asetteluun, sillä mielestäni kuvasarjan kuvien pitää joka tapauksessa toimia
          toistensa kanssa.
        </p>
      </li>
      <li>
        <h3>3. Doodlaus</h3>
        <div class="columns">
          <figure>
            <img src="/public/res/kuvis/doodle.webp" alt="Valmis doodlaus" />
            <figcaption>Valmis doodlaus</figcaption>
          </figure>
          <figure>
            <img src="/public/res/kuvis/doodle_kesken.webp" alt="Valmis doodlaus" />
            <figcaption>Edistys ensimmäisen tunnin jälkeen</figcaption>
          </figure>
        </div>
      </li>
      <li>
        <h3>4. Abstrakti maalaus</h3>
        <!--        <div class="columns">-->
        <figure>
          <img src="/public/res/kuvis/maalaus.webp" alt="Valmis maalaus" />
          <figcaption>Abstrakti maalaus</figcaption>
        </figure>
        <!--        </div>-->
      </li>
      <li>
        <h3>5. Teosanalyysi</h3>
        <div class="columns">
          <figure>
            <img src="/public/res/kuvis/analyysi.webp" alt="Anna Tuori, Duty" />
            <figcaption>Abstrakti maalaus</figcaption>
          </figure>
          <div>
            <h4>Suuntia oravanpyörässä</h4>
            <p>
              Anna Tuorin teos Duty (2017, öljyväri puulle) on monella tavalla mielenkiintoinen. Sommittelun avulla teokseen on luotu vaikutelma
              liikkeestä ja kiireestä. Suunta liikkeelle on syntynyt ennen kaikkea hahmon asennolla ja sijoittumisella ensimmäisiin pystysuuntaisiin
              kolmanneksiin. Teoksessa on useita erivärisiä tasaisia pintoja, jotka tasapainottavat ja luovat vaikutelmaa tilasta. Lyhyemmät ja moneen
              suuntaan lähtevät siveltimenvedot hahmossa alleviivaavat ja toisaalta varjostavat ja häivyttävät. Tekniikalle tyypillinen elementti on
              esimerkiksi kerroksellisuus ja alempien kerrosten paikoitellen pintaan jätetyt värit. Teoksessa on paljon kontrasteja niin tumman ja
              vaalean kuin esimerkiksi vastaväriparien välillä.
            </p>
            <p>
              Jalkojen lukumäärä ja eteneminen vasemmalta oikealle tuntuvat viestivän kiirettä, etenemistä ja kohti menemistä. Vaikutelma syntyy
              varmasti osittain myös lukusuunnasta. Kaari oikeassa alanurkassa luo pyöreän muodon ja ikään kuin ylämäen, johon kävelijä on astumassa.
              Sen voi tulkita kertovan esimerkiksi oravanpyörästä ja yhteiskunnallisemmasta viestistä liikkeen takana. Monet kasvot ja niiden värit
              tuntuvat ilmaisevan tunnetiloja ja toisaata alleviivaavan eri näkökulmien merkitystä. Kuosi takin sisäpinnalla tuo mieleen 70-luvun,
              mutta toisaalta ulkopuoli väreineen on hyvinkin modernin näköinen. Takki kiinnittää teoksen aikajanalle ja huokuu muutosta.
            </p>
            <p>
              Kun verrataan maalausta taiteilijan muihin teoksiin, etenkin samoihin aikoihin tehtyihin, löydetään monta toistuvaa elementtiä - muiden
              muassa kävely, rikas värien ja siveltimen käyttö sekä tietyn asteinen abstraktius. Juuri tämä teos pysäyttää etenkin vastaväriparien
              taitavan käytön sekä liikkeen suunnan vuoksi. Hahmo ei kävele suoraan sivulle vaan ikään kuin etuviistoon.
            </p>
            <p>
              Taiteilija on esittänyt räväköitä kannanottoja taiteesta ja sen roolista sekä erilaisesta viestinnästä nykymaailmassa. Hän on julkisesti
              kritisoinut yksinkertaista kantaaottavaa taidetta, joka keskittyy yhteiskunnalliseen viestiin enemmän kuin visuaalisuuteen. Tämä tapa
              ajatella näkyy vahvasti myös juuri tämän teoksen takana - se kyllä viestii ja sitä voi tulkita monella tavalla, mutta kaikkein eniten
              tulkitsijalle jää sanottavaa esteettisistä seikoista.
            </p>
          </div>
        </div>
      </li>
      <li>
        <h3>6. Itsearviointi ja palaute</h3>
        <div>
          <h4>A) OMA KURSSITYÖSKENTELYNI (1= hyvin vähän, 5= erittäin paljon)</h4>
          <p>(1=hyvin vähän, 5=erittäin paljon)</p>
          <ol>
            <li><strong>Olen työskennellyt kurssilla aktiivisesti:</strong></li>
            3
            <li><strong>Työskentelyni on ollut tavoitteellista ja olen pyrkinyt saamaan kurssilla käydyt asiat “haltuuni”:</strong></li>
            4
            <li><strong>Olen saanut harjoitustöihini harkittua ilmettä ja ne ovat viimeisteltyjä:</strong></li>
            3
            <li><strong>Olen saanut harjoitustöihini omaperäisyyttä ja kiinnostavuutta:</strong></li>
            3
            <li><strong>Olen saanut harjoitustöihini hyviä ideoita ja pohdittuja näkökulmia:</strong></li>
            3
            <li><strong>Portfoliostani rakentuu kattava kuva kurssistani:</strong></li>
            4
            <li><strong>Arvosana, jonka itse antaisin itselleni tästä kurssista - ja miksi:</strong></li>
            Öh, tyyliin 8 tai 7. En oikein osaa perustella mutta joo ei tuossa suorituksessa niin hirveästi kehumista ole
          </ol>
          <h4>B) KURSSIPALAUTETTA</h4>
          <ol>
            <li><strong>Mikä on ollut mielestäsi kurssilla positiivista?</strong></li>
            Pääsee löytämään uusia kiinnostuksen kohteita
            <li><strong>Mikä harjoitustyö on tuntunut sinusta mukavimmalta? Miksi?</strong></li>
            Doodlaus oli ihan kivaa
            <li><strong>Aiheuttiko jokin harjoitustyö sinulle tuskaa ja traumoja? Miksi?</strong></li>
            Paperiveistos ehkä vähän
            <li><strong>Jäikö jokin asia harmittamaan kurssin suhteen? Mikä?</strong></li>
            Ei
          </ol>
        </div>
      </li>
    </ol>
  </main>
</div>
