<!DOCTYPE html>

<html lang="en">
<head>
  {{> head}}
</head>

<body>
<div id="top">
  {{> simpleGreeting}}

  <div class="content-wrapper">
    <main class="content">
      <h2 id="KU01.5 Porfolio">KU01.5 Porfolio</h2>
      <ol class="no-bullets">
        <li>
          <h3>1. Visuaalinen matkalaukku</h3>
          <img src="/public/res/kuvis/matkalaukku.webp" alt="Kuva visuaalisesta matkalaukusta"> </img>
        </li>
        <li>
          <h3>2. Paperiveistos (korvaava työ)</h3>
          <img src="/public/res/kuvis/kuvasarja.webp" alt="Abstrakti kuvasarja" style="transform: scale(1.0325)"> </img>
          <p>Kuten sovittiin silloin taannoin (kiitos myönnytyksestä!), tässä korvaava työ paperiveistoksesta. Jos
            oikein muistan, puhe oli kolmen abstraktin kuvan sarjasta, josta käy ilmi kohteena olevan henkilön piirteitä
            ja persoonaa.

          </p>
          <p>Päätin koostaa kuvasarjan visuaalisesti mielenkiintoiseen asetteluun, sillä mielestäni kuvasarjan kuvien
            pitää joka tapauksessa toimia toistensa kanssa.</p>
        </li>
      </ol>
    </main>
  </div>
</div>
</body>
</html>
