<!doctype html>

<html lang="en">

{{> head}}

<body>
<div id="top" class="parallax">
    {{> simpleGreeting}}

    {{> stickyheader}}

    <div id="content-wrapper">
        <main id="content">
            <h2 id="Portfolio">Portfolio</h2>
            <p>Here is a compilation of my personal projects that best represent my skills in various areas of
                information techology.</p>

            <ul class="no-bullets add-horizontal-rule">
                <li>
                    {{#each portfolio}}
                    <h3 class="portfolio-header accent" id="{{this.title}}">{{this.title}}</h3>
                    <img src="{{this.coverImage.src}}"  alt="{{this.coverImage.alt}}"/>
                    <img class="portfolio-logo" src="{{this.logo.src}}" alt=""/>

                    {{{this.previewText.content}}}
                    <a class="read-more" href="portfolio/{{this.title}}"></a>
                    {{/each}}
                </li>
            </ul>
        </main>
    </div>
</div>
</body>

</html>
